:root {
	--black: #333333;
	--white: #ffffff;
	--gray: #909090;


	--cadColor: #FF8315;
	--gbpColor: #12D32A;
	--usdColor: #1F45AC;

	--weightColor: #0F8F9B;


	--bodyPadding: 32px;
	--bodyMaxWidth: 600px;
}

@media (max-width: 500px) {
	:root {
		--bodyPadding: 16px;
	}
}

body {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 16px;

	padding: var(--bodyPadding);

	max-width: var(--bodyMaxWidth);

	font-family: "Lato", "Helvetica Neue", Helvetica;
	color: var(--black);
	background-color: var(--white);

	box-shadow: 0 5px 20px #e4e4e4;
}

h1, h2, h3 {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-top: 8px;

	text-align: center;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 20px;
}

.light {
	color: var(--gray);
}

blockquote {
	padding-left: 32px;
	color: var(--gray);
}

hr {
	margin-top: 32px;
	margin-bottom: 32px;
}
